{% extends "mysite/base.html" %}
{% block title %}{% endblock %}

{% block content %}
<header>

    {% include "mysite/navigation.html" %}
</header>

<section class="login-page">
  <h2>Załóż konto</h2>
  <form method="POST">
    {% csrf_token %}
    {% if messages %}
    <div class="messages">
      {% for message in messages %}
      <h3 {% if message.tags %} class="{{ message.tags }}" {% endif %}
        style="color: crimson; font-weight: bold; font-size: large;">
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
      </h3>
      {% endfor %}
    </div>
    {% endif %}


    {% if form.non_field_errors %}
    <div class="non-field-errors">
      {% for err in form.non_field_errors %}
      <h3 class="form-error" style="color: crimson; font-weight: bold; font-size: large;">{{ err }}</h3>
      {% endfor %}
    </div>
    {% endif %}
    <div class="form-group">
      {{ form.first_name }}
      <!-- <input type="text" name="name" placeholder="Imię" /> -->
    </div>
    <div class="form-group">
      {{ form.last_name }}
      <!-- <input type="text" name="surname" placeholder="Nazwisko" /> -->
    </div>
    <div class="form-group">
      {{ form.email }}
      <!-- <input type="email" name="email" placeholder="Email" /> -->
    </div>
    <div class="form-group">
      {{ form.password }}
      <!-- <input type="password" name="password" placeholder="Hasło" /> -->
    </div>
    <div class="form-group">
      {{ form.check_password }}
      <!-- <input type="password" name="password2" placeholder="Powtórz hasło" /> -->
    </div>

    <div class="form-group form-group--buttons">
      <a href="{% url 'login' %}" class="btn btn--without-border">Zaloguj się</a>
      <button class="btn" type="submit">Załóż konto</button>
    </div>
  </form>
</section>

{% endblock %}